@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

body {
  font-family: 'Ubuntu';
  cursor: default;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#score {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 2em;
  font-weight: 700;
  font-family: inherit;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 10px;
  border-radius: 20px;
}

#introduction {
  width: 200px;
  height: 150px;
  position: absolute;
  font-weight: 400;
  font-size: 0.8em;
  font-family: inherit;
  text-align: center;
  transition: opacity 2s;
}

#restart {
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
  color: white;
  background-color: red;
  border: none;
  font-weight: 500;
  font-size: 1.2em;
  font-family: inherit;
  display: none;
  cursor: pointer;
}

#perfect {
  position: absolute;
  opacity: 0;
  transition: opacity 2s;
}
}
